@charset "utf-8";
/* CSS Document */
/*中间轮播图*/
.slide{
	width:1200px;
	height:270px;	
	position:relative;
	overflow:hidden;/*超出部分隐藏*/
}

.slide_pics li{
	width: 100%;
	height: 100%;
	position:absolute;
	list-style-type: none;
	left:0;
	top:0;
}

.slide_pics img {
	width: 100%;
	height: 100%;
}

/*左右轮播箭头*/
.slide .prev,.slide .next{
	width:17px;
	height:23px;
	background:url(../images/icons.png) no-repeat left -388px;
	position:absolute;
	left:11px;
	top:122px;
}

.slide .next{
	background-position:left -428px; /*背景偏移  居左中   向上 -428px*/
	left:1170px;/*定位  居1170px*/
}

/*小圆点*/
.points{
	width:110%;
	height:11px;
	position:absolute;
	left:0px;
	top:250px;
	text-align:center;
}

.points li{
	display:inline-block;/*行内块 既能设置宽高 也能在一行显示*/
	width:11px;
	height:11px;
	margin:0 5px;
	background:#9f9f9f;
	border-radius:50%;/*圆形*/
	cursor:pointer;/*手型*/
}

.points li.active{
	background-color:#ececec;
}


/*中间内容区*/
article {
	width: 1200px;
	overflow: hidden;
	margin-top: 20px;
}

.view_title {
	width: 100%;
	height: 40px;
	height: 40px;
	background: #F1F1F1;
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
}

.view_price {
	display: inline-block;
	background-color: #FFFFFF;
	width: 80px;
	text-align: center;
	padding-right: 20px;
	border: 1px solid #DDDDDD;
	line-height: 28px;
	margin-top: 5px;
	margin-left: 2px;
}

.view_title >* {
	margin-right: 10px;	
}

.price_down {
	background:url(../images/download.png) no-repeat 55px center;
	background-size: 20px 20px;
}

.price_down:hover {
	border-color: red;
	background-image:url(../images/download1.png);
}

.price_up {
	background:url(../images/upload.png) no-repeat 55px center;
	background-size: 20px 20px;
}

.price_up:hover {
	border-color: red;
	background-image:url(../images/upload1.png);
}

.price_ipt {
	border: 1px solid #DDDDDD;
	height: 24px;
	color: #999999;
	padding: 2px;
}

.view_goods{
	width: 100%;
	overflow:hidden;
}

#view_goods{
	margin-top: 30px;
}

.view_goods li {
	list-style-type: none;
	width: 238px;
	margin-bottom: 40px;
	/*border:1px solid #CACACA;*/
	float: left;
	height: 310px;
}

.hot_box{
	position: relative;
	transition:  .6s;
	-o-transition: .6s;
	-ms-transition: .6s;
	-moz-transition: .6s;
	-webkit-transition: .6s;
}

.hot_box .all_i,.hot_mel .all_i{
	position: absolute;
	width: 0%;
	height: 2px;
	background: #CCCC;
	display: block;
	transition: .6s;
	-o-transition: .6s;
	-ms-transition: .6s;
	-moz-transition: .6s;
	-webkit-transition: .6s;
}

.hot_box .i_t{
	top: -1px;
	left: 50%;
}

.hot_box .i_r{
	top: 50%;
	width: 2px;
	height: 0%;
	right: -1px;
}

.hot_box .i_b{
	bottom: -1px;
	left: 50%;
}

.hot_box .i_l{
	top: 50%;
	width: 2px;
	height: 0%;
	left: -1px;
}

.hot_box:hover .i_t,.hot_box:hover .i_b{
	left: 0;
	width: 100%;
}

.hot_box:hover .i_r,.hot_box:hover .i_l{
	top: 0;
	height: 100%;
}

.hot_box:hover{
	transform:translateY(-10px);
	-o-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	box-shadow: 0px 0px 0px #000;
}

.hot_box:hover img{
	transform:scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	filter:brightness(1);
	filter:alpha(brightness(1))
}

.hot_warp img{
	width: 188px;
	height: 200px;
	margin-left: 25px;
	margin-top: 22px;
	-o-transition: .6s;
	-ms-transition: .6s;
	-moz-transition: .6s;
	-webkit-transition: .6s;
	filter:brightness(.8);
	filter:alpha(brightness(.8))
}

.hot_warp span{
	text-align: center;
	width: 230px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin-top: 20px;
	display: block;
}

.view_info {
	height: 34px;
	line-height: 34px;
	font-weight: bold;
	margin-top: 5px;
}


.price{
	color: red;
	padding-left: 20px;
	font-size: 14px;
}

.price::before{
  content: '\00A5'; /*&yen */
}

.buy{
	width: 30px;
	height: 30px;
	display: inline-block;
	background:url(../images/cart.png) no-repeat center center;
	background-size: 28px 28px;
	float: right;
	margin-right: 20px;
	cursor: pointer;
}

.page_info {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.page_info>a{
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
	border: 1px solid #DDDDDD;
	background-color: #F7F7F7;
}

.page_info>.pre_page{
	width: 80px;
	background:url(../images/arrow_left.png) no-repeat 12px center;
	background-size: 24px 24px;
	padding-left: 14px;
}

.page_info>.next_page{
	width: 80px;
	background:url(../images/arrow_right.png) no-repeat 56px center;
	background-size: 24px 24px;
	padding-right: 14px;
}

.page_info>a:hover{
	border-color: red;
}

.active{
	background-color: #CCC !important;
	border-color: red !important;
}